/* dedication */
.dedication h1 {
  font-family: sans-serif;
  font-size: 32pt;
  margin: 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

.dedication hr {
  border: 0;
  border-top: 1px solid currentColor;
  margin: 4rem auto 1rem;
  width: 25%;
}

.dedication-content {
  font-family: serif;
  font-style: italic;
  text-align: center;
}
