.message-container {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.message-them-row, .message-me-row {
  clear: both;
  margin-bottom: 3px;
  width: 100%;
    
  /* don't break a message across multiple pages */
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.message-them-row {
    text-align: left;
}
.message-me-row {
    text-align: right;
}

/* messages from different people have a taller spacing */
.message-me-row + .message-them-row,
.message-them-row + .message-me-row {
    margin-top: 8px;
}

.message-them, .message-me {
  border: solid white 2px;
  border-radius: 14px;
  display: inline-block; 
  padding: 8px 16px;
  line-height: 1.2;
  overflow-wrap: break-word;
  text-align: left;  
}

.message-them {
  background-color: #e5e5ea;
  color: black;
  border-bottom-left-radius: 4px;
  margin-right: 20%; 
}

.message-me {
  background-color: #033e80;
  color: #ffffff !important; /* Use !important to force color on Kindle */
  border-bottom-right-radius: 4px;
  margin-left: 20%; 
}

.message-me-name, .message-them-name {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 0 3px 0;
  padding: 0 12px;
}

.message-me-name {
  text-align: right;
}

.message-read-receipt, .message-timestamp {
  color: #8e8e93;
  font-size: 12px;
}

.message-read-receipt {
  text-align: right;
  margin: 0 2px 10px 0;
}

.message-timestamp {
  margin: 20px 0 10px 0;
  text-align: center;
}
